
#jumbo-override {
	background-color: #c1b2a9;	
}

.header {
	margin-top: 50px;
}

/********************************************************/
/*************  client-reader page styles  **************/
/********************************************************/

#reader-body {
	background-color: black;
}

.my-center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}

#reader-window {
	background-color: #ccc;	
	width: 156px;
	height: 195px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border-radius: 6px;	
}

#text-request-button {
	position: relative;
	top:50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#full-text {
	padding: 5px;
	display: none;
	font-size: 0.98em;
}

#rsvp {
	text-align: center;
	display: none;
	padding: 5px;
	position: relative;
	top:50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.45em;
}

#spritzdiv {
	display: none;	
}

#logo-blocker {
	position: absolute;
	background-color: white;
	top: 50px;
	left: 1px;
	width:156px;
	height:30px;
	z-index: 10;
}

#spritzer {
	position: relative;
	top:50px;
	padding: 0;
}

/********************************************************/
/*************  client-tester page styles  **************/
/********************************************************/

#tester-body {
	background-color: #c1b2a9;
}


#participant-title {
	display: none;
}

#error-hint {
	font-style: italic;
	color: red;
}

#question-button, #start-button, #practice-button {
	display: none;
}

#question-display {
	display: none;
	border: black solid 1px;
	border-radius: 6px;
	padding: 15px;
}

.question-container {
	border-bottom: #888 1px solid;
}

.question {
	font-size: 1.5em;
	color: green;
}

.answer {
	font-size: 1.25em;
	/*color: red;*/
	/*width: 400px;*/
}

.answer-container {
	padding: 10px;
	padding-left: 20px;
}

.answer-container:hover {
	background-color: #dda;
}

#thank-you {
	display: none;
}

input[type="radio"] {
	/*transform:scale(1.2, 1.2);*/
	transform:scale(2, 2);
}

h5 {
	color: #999
}